.client {
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 50px 0 0 0;

        @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between  ;
            margin: 30px auto 0 auto;

            max-width: 480px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between  ;
            margin: 30px auto 0 auto;

            max-width: 738px;

            // width: calc((100% - 2 * 10px) / 2);
            // margin: 5px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        min-height: 90px;
        border-radius: 4px;
        fill: #afb1b8;
        border: 1px solid #afb1b8;
      
        transition: fill $timing-function, border $timing-function;

        @media screen and (max-width: 767px) {
            width: 210px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 226px;
        }
    }

    &__link:hover,
    &__link:focus {
      cursor: pointer;
      fill: $accent-color;
      border: 1px solid $accent-color;
    }

    &__item {
        @media screen and (max-width: 1199px) {
            // width: calc((100% - 2 * 10px) / 2);
            margin: 15px auto;
        }
        
    }

    .client-label {
        width: 50px;
        height: 50px;
    }
}