.hero {
    text-align: center;
    color: $white-color;

    padding: 119px 15px 118px 15px;
    
    @media screen and (min-width: 1200px) {
        padding: 200px 0 200px 0;
    }
    

    &__title {
        text-transform: uppercase;
        font-weight: 900;
        margin: 0 auto 30px auto;
        max-width: 696px;
        font-size: 44px;
        letter-spacing: 0.06em;
        line-height: 1.75;


        @media screen and (max-width: 1199px) {
            font-size: 26px;
            line-height: 1.75;
            // padding: 119px 0 118px 0;
            max-width: 360px;
        }

        // font-size: 44px;
        // line-height: 1.4;
        // width: 696px;
    }
}