.hero {
    // padding: 200px 0 200px 0;
    text-align: center;
  
    color: $white-color;
    @media screen and (min-width: $mobile) {
        padding: 119px 0 118px 0;
    }
    

    &__title {
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-weight: 900;
        margin: 0 auto 30px auto;

        @media screen and (min-width: $mobile) {
            font-size: 26px;
            line-height: 1.75;
            // padding: 119px 0 118px 0;
            width: 360px;
        }

        // font-size: 44px;
        // line-height: 1.4;
        // width: 696px;
    }
}