.overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/headerBG.jpg");
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-width: $mobile) {
    min-height: 400px;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/HeaderMob.jpg");
    background-size: cover;

    background-repeat: no-repeat;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-width: $tablet) {
    min-height: 400px;

    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), 

    url("../images/header/HeaderTab.jpg");
    background-size: cover;

    background-repeat: no-repeat;
  }

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/headerBG.jpg");
  background-repeat: no-repeat;
  }

  

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//       .overlay{
//         background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url("../../../images/header/headerBg.jpg");
//       background-repeat: no-repeat;
//       background-size: cover;
//      }
// }