.overlay {
  min-height: 400px;

  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/header/HeaderMob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;

  @include mediaRetina {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/HeaderMob@2x.jpg");
  }
  
  /* ----------- Non-Retina tablet ----------- */
  @media screen and (min-width: $tablet) { 
      min-height: 400px;

      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), 
      url("../images/header/HeaderTab.jpg");
    }

  /* ----------- Retina tablet ----------- */
  @include mediaRetina($tablet) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/HeaderTab@2x.jpg");
  }

  /* ----------- Non-Retina Desktop ----------- */
  @media screen and (min-width: $desktop) { 
      min-height: 400px;

      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), 
      url("../images/header/headerBg.jpg");
    }

  /* ----------- Retina Screens ----------- */
  @include mediaRetina($desktop) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/headerBg@2x.jpg");
  }
}
