.subscribe {
    margin: 0 0 0 auto;

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    &__title{
        color: $white-color;
        text-transform: uppercase;
        font-weight: 700;
        /* margin-top: 8px; */
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.03em;

        @media screen and (min-width: 480px) {
        }
        @media screen and (min-width: 768px) {
        }
        @media screen and (min-width: 1200px) {
        }
    }

    &__form--block {
        display: flex;

        @media screen and (min-width: 480px) {
        }
        @media screen and (min-width: 768px) {
        }
        @media screen and (min-width: 1200px) {
        }
        @media screen and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
    }

    &__input {
        padding: 0 0 0 16px;
        margin: 0 12px 0 0;
        width: 358px;
        min-height: 50px;
      
        line-height: 1.4;
      
        letter-spacing: 0.03em;
      
        color: rgba(255, 255, 255, 0.6);
        background-color: #2f303a;
      
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        @media screen and (min-width: 480px) {
        }
        @media screen and (min-width: 768px) {
        }
        @media screen and (min-width: 1200px) {
        }

        @media screen and (max-width: 1199px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 20px 0;

            min-width: 450px;
        }
    }

    &__icon--subscribe{
        margin: 0 0 0 10px;
        fill: $white-color;

        @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
    }

    &__btn {
        display: flex;
        align-items: center;

        @media screen and (min-width: 480px) {
    }
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }
    }
  }