.auth {
    display: flex;
    margin: 0 0 0 auto;
    list-style: none;
    align-items: center;

    &__link + .link {
        margin-right: 30px;
        padding-left: 50px;
    }

    &__icon {
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        font-weight: 500;
        color: #757575;
        text-decoration: none;
      
        transition: color $timing-function, fill $timing-function;
    }

    &__icon:hover,
    &__icon:focus,
    &__link:hover,
    &__link:focus {
        cursor: pointer;
        color: $accent-color;
        fill: $accent-color;
    }

    &__mail--icon,
    &__phone--icon {
        margin: 0 10px 0 0;
      }
      
}