.header {
    // position: relative;
    border-bottom: 1px solid #ececec;
    padding: 24px 0;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        padding: 21px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 16px 15px;
    }
    &__nav {
        align-items: center;
        display: flex;
    }
    &__logo {
        // margin-right: 93px;

        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        font-family: "Raleway", sans-serif;

        color: $accent-color;
        letter-spacing: 0.03em;

        @media screen and (min-width: $desktop) {
            &{
                font-size: 26px;
            }
        }
    }
    &__logo--span {
        color: $black-color;
    }

    &__nav {
        @media screen and (min-width: $mobile) {
            justify-content: space-between;
        }
    }
}