.benefits {
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;

        @media screen and (max-width: 767px) {
            display: block;
            margin: 0 auto;
            max-width: 450px;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    &__item {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            // width: 50%;
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin: 0 0 30px 0;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            // width: 50%;
            // margin: 0;
        }
        @media screen and (min-width: $desktop) {
            margin: 0 30px 0 0;
        }
    }
    &__icon--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;

        background-color: #f5f4fa;
    }
    .icon {
        width: 70px;
        height: 70px;
    }

    &__title {
        margin: 0 0 10px 0;
      
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
      
        letter-spacing: 0.03em;
        text-transform: uppercase;
      
        color: #212121;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__descr {
        font-size: 14px;
        line-height: 1.7;
        color: #757575;
        letter-spacing: 0.03em;
    }
    
}