.team {
    background-color: #f5f4fa;
    @media screen and (max-width: 1199px) {
        padding: 60px 0;
    }

    &__list {
        display: flex;
        padding: 0;
        margin: 50px 0 0 0;
        
        @media screen and (max-width: 767px) {
            display: block;
        }
        
        @media screen and (max-width: 1199px) {
            max-width: 800px;
            margin: 30px 0 0 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px auto;
            // margin: 30px auto;
        }
    }

    &__card {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 4px 4px;
        list-style: none;

        @media screen and (max-width: 767px) {
            max-width: 450px;
            margin: 0 auto;
            &:not(:last-child) {
                margin: 0 auto 30px auto;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 2 * 60px) / 2);
            margin: 15px;
        }

        &:not(last-child) {
            @media screen and (min-width: $desktop) {
                margin: 0 30px 0 0;
            }
        }
    }

    &__card > img {
        display: block;
        @media screen and (max-width: 767px) {
            max-width: 450px;
        }

        @media screen and (max-width: $desktop) {
            width: 100%;
            margin: 0 auto;
        }

        @media screen and (min-width: $desktop) {
            max-width: 270px;
            height: 260px;
            margin: 0 auto;
        }
    }

    &__card--wrapper {
        padding: 30px;

        border-radius: 0 0 4px 4px;
        text-align: center;

        background-color: $white-color;

        @media screen and (max-width: 767px) {
            max-width: 450px;
        }

        @media screen and (max-width: $desktop) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__member {
        margin: 0 0 10px 0;
      
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
      
        color: #212121;
    }

    &__member--descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 16px;
        letter-spacing: 0.03em;
    }

    &__contacts--list {
        display: flex;
        justify-content: space-between;
        padding-inline-start: 0px;

        @media screen and (min-width: 480px) {
            max-width: 206px;
            margin: 0 auto;
        }
    }

    &__contacts--link{
        display: block;

        padding: 12px;
        background-color: transparent;
        border-radius: 50%;
        fill: #afb1b8;

        transition: fill $timing-function,
            background-color $timing-function;
    }

    &__social--link {
        width: 20px;
        height: 20px;
        display: block;
    }

    &__contacts--link:hover,
    &__contacts--link:focus {
        cursor: pointer;
        fill: $white-color;
        background-color: $accent-color;
    }
}